<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
	<div id="location-show" class="row text-center">

	<!-- left and right containers for desktop view only -->
	<div class="left-container">
	<div class="location-summary">
		<p>The zip code <strong><%= @location.zipcode %></strong> has a safety score of </p>

		<h1><%= @location.score %>/100</h1>

		<p>This neighborhood is <%= @location.score_phrase %></p>
	</div>

	<div class="crime-map-sm" style="height: 400px">
	</div>

	<div class="location-statistics">
		<h3>Statistics</h3>
		<div class="stats-container">
			<ul>
			    <li>Thefts:  <%= @location.theft_count %></li>
			    <li>Robberies: <%= @location.robbery_count %></li>
			    <li>Break-ins:  <%= @location.burglary_count %></li>
			</ul>
			<ul>
				<li>Assaults: <%= @location.assault_count %></li>
			    <li>Rapes: <%= @location.rape_count %></li>
			    <li>Shootings:  <%= @location.shooting_count %></li>
			</ul>
		</div>
	</div>

	<div class="links">
		<button>Want to help improve this score?</button>
		<br>
		<br>
		<p><a href="#">How we calculate safety scores</a></p>
	</div>
</div>

<div class="right-container">
	<div class="crime-map-lg" style="height: 400px">
	</div>
</div>

</div>
</div>
<script>
    // This example uses the Google Maps JavaScript API's Data layer
    // to create a rectangular polygon with 2 holes in it.
    function initMap() {
        var map_sm = new google.maps.Map(document.querySelector('.crime-map-sm'), {
            zoom: 10,
            center: {lat: 33.518589, lng: -86.810356},
            disableDefaultUI: true
        });
        var map_lg = new google.maps.Map(document.querySelector('.crime-map-lg'), {
            zoom: 10,
            center: {lat: 33.518589, lng: -86.810356},
            disableDefaultUI: true
        });

        // TODO: get values from an API call, based on current zipcode
        var values = [
            [
                -86.6488930318954,
                33.6542087265763
            ],
            [
                -86.6474929792763,
                33.6530087429784
            ],
            [
                -86.6480929843155,
                33.6522087595874
            ],
            [
                -86.649192994454,
                33.6507087882371
            ],
            [
                -86.6541930426296,
                33.6443089144604
            ],
            [
                -86.6563930706052,
                33.642008959759
            ],
            [
                -86.6614931237426,
                33.6360090789897
            ],
            [
                -86.6621931271427,
                33.6347091005989
            ],
            [
                -86.6631131340147,
                33.6334051272113
            ],
            [
                -86.6658931538482,
                33.6295092011229
            ],
            [
                -86.6669931543786,
                33.6274092391279
            ],
            [
                -86.6680931354312,
                33.6240092995562
            ],
            [
                -86.6680931299168,
                33.6236093063897
            ],
            [
                -86.6681051271367,
                33.6231813137277
            ],
            [
                -86.6681791161734,
                33.6224433249946
            ],
            [
                -86.6680931107409,
                33.6220093334893
            ],
            [
                -86.6696931222435,
                33.6200093707753
            ],
            [
                -86.6698931250105,
                33.6196093760084
            ],
            [
                -86.6705931308704,
                33.6189093897775
            ],
            [
                -86.6717931491556,
                33.6180094100442
            ],
            [
                -86.6729931745551,
                33.6175094203511
            ],
            [
                -86.6752932188691,
                33.6164094438347
            ],
            [
                -86.6777932482438,
                33.6140094919607
            ],
            [
                -86.6817933044705,
                33.6106095557605
            ],
            [
                -86.6832933329749,
                33.6099095711609
            ],
            [
                -86.6835933339839,
                33.609509578228
            ],
            [
                -86.6846933563546,
                33.6091095891059
            ],
            [
                -86.6857933768007,
                33.6085096009275
            ],
            [
                -86.6871934013502,
                33.6078096162226
            ],
            [
                -86.6882933994988,
                33.6056096553934
            ],
            [
                -86.6900933896628,
                33.6016097245292
            ],
            [
                -86.6903933804151,
                33.600609740062
            ],
            [
                -86.6910933762315,
                33.5990097693044
            ],
            [
                -86.6912933744478,
                33.5986097757975
            ],
            [
                -86.6919933764351,
                33.5973097987682
            ],
            [
                -86.6924933741456,
                33.5963098143786
            ],
            [
                -86.6928933735366,
                33.5956098264068
            ],
            [
                -86.6937933809348,
                33.5945098463213
            ],
            [
                -86.695067398189,
                33.5935388664858
            ],
            [
                -86.6958934097788,
                33.5929098778049
            ],
            [
                -86.6962934058408,
                33.5919098946407
            ],
            [
                -86.6965933975775,
                33.5909099119666
            ],
            [
                -86.6994934734558,
                33.5911099146817
            ],
            [
                -86.7003934951215,
                33.5910099172642
            ],
            [
                -86.7013935220124,
                33.5911099167113
            ],
            [
                -86.7024885475809,
                33.5910259199635
            ],
            [
                -86.7034935743299,
                33.5911099212975
            ],
            [
                -86.704693599848,
                33.5910099244314
            ],
            [
                -86.7076936750016,
                33.591009931487
            ],
            [
                -86.7079936845007,
                33.5912099295997
            ],
            [
                -86.712708797723,
                33.5908729437069
            ],
            [
                -86.7135938185316,
                33.5908099452076
            ],
            [
                -86.7160938803099,
                33.5909099490785
            ],
            [
                -86.7176939189229,
                33.5908099549286
            ],
            [
                -86.7177368240557,
                33.5908168189722
            ],
            [
                -86.7175401667259,
                33.5947308066732
            ],
            [
                -86.7217169598443,
                33.5947865280368
            ],
            [
                -86.7217309514737,
                33.5971367602779
            ],
            [
                -86.7207831902927,
                33.5971307948506
            ],
            [
                -86.7202212906439,
                33.5971566322797
            ],
            [
                -86.7181882748568,
                33.5968206571598
            ],
            [
                -86.7178367235244,
                33.5968771876128
            ],
            [
                -86.7177181564602,
                33.5983452782343
            ],
            [
                -86.7165182850946,
                33.5990427280371
            ],
            [
                -86.7169659186173,
                33.6038927292513
            ],
            [
                -86.7176619190267,
                33.6045727996626
            ],
            [
                -86.7213044159349,
                33.6055358379472
            ],
            [
                -86.7220709415651,
                33.6061869473699
            ],
            [
                -86.7247405734712,
                33.6060274439167
            ],
            [
                -86.7255925702892,
                33.6049752184563
            ],
            [
                -86.7274191050712,
                33.6048691341251
            ],
            [
                -86.7307190219838,
                33.6048896984974
            ],
            [
                -86.7344038591263,
                33.6090253082611
            ],
            [
                -86.7414601604681,
                33.60909815349
            ],
            [
                -86.7416785229579,
                33.6082181894093
            ],
            [
                -86.7426947918408,
                33.6071097566194
            ],
            [
                -86.7433948214002,
                33.6079097442718
            ],
            [
                -86.7449948947717,
                33.6101097148236
            ],
            [
                -86.744794892634,
                33.6103097125656
            ],
            [
                -86.7436948860082,
                33.6115096905983
            ],
            [
                -86.7410948829909,
                33.6156096235162
            ],
            [
                -86.7392948732547,
                33.6180095805372
            ],
            [
                -86.7383948677182,
                33.6191095633011
            ],
            [
                -86.7373828584128,
                33.6203055415777
            ],
            [
                -86.7372058576882,
                33.6205085372733
            ],
            [
                -86.735786844999,
                33.6220775093212
            ],
            [
                -86.7353948415772,
                33.6225095026058
            ],
            [
                -86.7343948364436,
                33.6237094811664
            ],
            [
                -86.7313948119538,
                33.6272094189679
            ],
            [
                -86.7309948084456,
                33.6278094095346
            ],
            [
                -86.7307948135982,
                33.6283174017496
            ],
            [
                -86.7303552905401,
                33.6293580397609
            ],
            [
                -86.7406943316881,
                33.6392122369284
            ],
            [
                -86.7296746841077,
                33.6522610520708
            ],
            [
                -86.7313464605108,
                33.6535099730238
            ],
            [
                -86.7339417411817,
                33.6493038789732
            ],
            [
                -86.7355706024472,
                33.64779396883
            ],
            [
                -86.7374651562403,
                33.646679747505
            ],
            [
                -86.7403707465039,
                33.6454028267898
            ],
            [
                -86.7429347894095,
                33.6446867014915
            ],
            [
                -86.7439950703985,
                33.6445666300217
            ],
            [
                -86.7439175560835,
                33.6534325067957
            ],
            [
                -86.7476922187805,
                33.6534555352096
            ],
            [
                -86.7439501797564,
                33.6613675821636
            ],
            [
                -86.7439374925334,
                33.662817967607
            ],
            [
                -86.7328163569127,
                33.6627494423557
            ],
            [
                -86.726939676241,
                33.6695385081527
            ],
            [
                -86.7268824194067,
                33.6759372154389
            ],
            [
                -86.7087662502725,
                33.6903992244664
            ],
            [
                -86.6962719210764,
                33.6840561944281
            ],
            [
                -86.6880257204817,
                33.6782476519071
            ],
            [
                -86.6813942015312,
                33.676708463662
            ],
            [
                -86.6816132137043,
                33.6789420241589
            ],
            [
                -86.6818942850526,
                33.6818083821904
            ],
            [
                -86.680094231372,
                33.681508380494
            ],
            [
                -86.6749940711866,
                33.679908387448
            ],
            [
                -86.6737940311013,
                33.6792083928958
            ],
            [
                -86.6698938929031,
                33.6768084183261
            ],
            [
                -86.6681938330894,
                33.676008425713
            ],
            [
                -86.6664937740706,
                33.6749084367542
            ],
            [
                -86.6650937238069,
                33.6739084485788
            ],
            [
                -86.6651936873912,
                33.6711084963746
            ],
            [
                -86.6651936802306,
                33.6706085060403
            ],
            [
                -86.6652936475662,
                33.6678085522545
            ],
            [
                -86.6649936176662,
                33.6662085789089
            ],
            [
                -86.6626015517213,
                33.6661885700546
            ],
            [
                -86.6616415268312,
                33.6661565679489
            ],
            [
                -86.6614015121615,
                33.665676573952
            ],
            [
                -86.6608734951927,
                33.6654205781244
            ],
            [
                -86.6608894872692,
                33.6648285883823
            ],
            [
                -86.6626815390298,
                33.6648765930475
            ],
            [
                -86.6646379657757,
                33.6649464611188
            ],
            [
                -86.6643615746669,
                33.6641726095753
            ],
            [
                -86.6614934106372,
                33.6577087108961
            ],
            [
                -86.6585932773973,
                33.6534087720481
            ],
            [
                -86.6527931316263,
                33.6540087441427
            ],
            [
                -86.6515931050841,
                33.6545087301061
            ],
            [
                -86.6495930502225,
                33.6543087271106
            ],
            [
                -86.6488930318954,
                33.6542087265763
            ]
        ];

        outerCoords = [];

        for (var i = 0; i < values.length; i++) {
            outerCoords.push({lat: values[i][1], lng: values[i][0]});
        }

        var poly_sm = new google.maps.Polygon({
            paths: outerCoords,
            strokeColor:'#FF0000',
            strokeOpacity:0.8,
            strokeWeight:3,
            fillColor:'#FF0000',
            fillOpacity:0.35
        });

        var poly_lg = new google.maps.Polygon({
            paths: outerCoords,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: '#FF0000',
            fillOpacity: 0.35
        });

        poly_sm.setMap(map_sm);
        poly_lg.setMap(map_lg);


        // map.data.add({geometry: new google.maps.Data.Polygon([outerCoords])})
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb8ZbLeacX5Lrnpfg9Ci-Iau9gO_Ks2GE&callback=initMap">
</script>