<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
	<div id="location-show" class="row text-center">

	<!-- left and right containers for desktop view only -->
	<div class="left-container">
	<div class="location-summary">
		<p>The zip code <strong><%= @location.zipcode %></strong> has a safety score of </p>

		<h1><%= @location.score %>/100</h1>

		<p>This neighborhood is <%= @location.score_phrase %></p>
	</div>

	<div class="crime-map-sm" style="height: 300px; width: 80%">
	</div>

	<div class="location-statistics">
		<h3>Statistics</h3>
		<div class="stats-container">
			<ul>
			    <li>Thefts:  <%= @location.theft_count %></li>
			    <li>Robberies: <%= @location.robbery_count %></li>
			    <li>Break-ins:  <%= @location.burglary_count %></li>
			</ul>
			<ul>
				<li>Assaults: <%= @location.assault_count %></li>
			    <li>Rapes: <%= @location.rape_count %></li>
			    <li>Shootings:  <%= @location.shooting_count %></li>
			</ul>
		</div>
	</div>

	<div class="links">
		<button>Want to help improve this score?</button>
		<br>
		<br>
		<p><%= link_to 'How we calculate safety scores', info_path %></p>
	</div>
</div>

<div class="right-container">
	<div class="crime-map-lg" style="height: 400px">
	</div>
</div>

</div>
</div>
<script>
    // This example uses the Google Maps JavaScript API's Data layer
    // to create a rectangular polygon with 2 holes in it.
    function initMap() {
        let map_sm = new google.maps.Map(document.querySelector('.crime-map-sm'), {
            zoom: 11,
            center: {lat: 33.518589, lng: -86.810356},
            disableDefaultUI: true
        });
        let map_lg = new google.maps.Map(document.querySelector('.crime-map-lg'), {
            zoom: 11,
            center: {lat: 33.518589, lng: -86.810356},
            disableDefaultUI: true
        });

        function httpGet(theUrl) {
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, false); // false for synchronous request
            xmlHttp.send(null);
            return xmlHttp.responseText;
        }

        let outerCoords = JSON.parse(httpGet('http://localhost:3000/locations/1/polygons')).values;

        let poly_sm = new google.maps.Polygon({
            paths: outerCoords,
            strokeColor:'#FF0000',
            strokeOpacity:0.8,
            strokeWeight:3,
            fillColor:'#FF0000',
            fillOpacity:0.35
        });

        let poly_lg = new google.maps.Polygon({
            paths: outerCoords,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: '#FF0000',
            fillOpacity: 0.35
        });

        poly_sm.setMap(map_sm);
        poly_lg.setMap(map_lg);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb8ZbLeacX5Lrnpfg9Ci-Iau9gO_Ks2GE&callback=initMap">
</script>